APP_PORT= # Puerto en el que se levantará el servidor
MONGO_URL= # URL de conexión a la base de datos MongoDB
ADMIN_USERNAME= # Nombre de usuario del administrador
ADMIN_EMAIL= # Email del administrador
ADMIN_PASSWORD= # Contraseña del administrador
ADMIN_DATA= # Datos adicionales del administrador
ADMIN_ROLE= # Rol del administrador
GITHUB_CLIENT_ID= # Client ID de GitHub
GITHUB_CLIENT_SECRET= # Código Secret Client de GitHub
GITHUB_CALLBACK_URL= # URL de callback declarada en GitHub