<section class="chatLogin_section">
    <div id="userLogin_container">
        <h1>Login to chat with others</h1>
        <div class="loginInput_container">
            <input class="loginInput" id="userLogin" type="text" placeholder="" autoComplete="off">
            <span class="loginInput_placeholder">Username</span>
            <button id="loginBnt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"
                    fill="none" stroke="#494949" stroke-width="3">
                    <line x1="5" y1="12" x2="17" y2="12" />
                    <polygon points="17 12 13 9.5 13 14.5" />
                </svg>
            </button>
        </div>
    </div>
</section>
<section id="chat_section"></section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/chat.js"></script>