<main>
    <section class="section_home">
        <div class="contrainer_title_home">
            <h1>Lista de Productos</h1>
        </div>
        <div class="container_products_home">
            <ul>
                {{#each products}}
                {{#if this.status}}
                <li>{{this.title}} - {{this.description}} - ${{this.price}} - status: {{this.status}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>
</main>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"
    integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
    crossorigin="anonymous"></script>