{{>header}}
<section class="section_guestCart">
    <div class="guestCart_titles">
        <h1>Your bag is empty.</h1>
        <p>Sign in to see if you have any added items. Or continue shopping.</p>
    </div>
    <div class="guestCart_links">
        <a href="/login">Sign In</a>
        <a href="/products">Continue Shopping</a>
    </div>
</section>
<section class="section_guestCart_help">
    <div class="guestCart_help">
        <p>Need some help? <span>Chat Now</span> or call 1‑800‑MY‑APPLE.</p>
    </div>
</section>
<section class="section_newArrivals">
    <div class="newArrivals_text">
        <h2>New Arrivals</h2>
        <span>Check out the latest products.</span>
        <a href="/products">Shop</a>
    </div>
    <div class="newArrivals_img">
        <img id="appleNewArrivals_desktop" src="../assets/images/cart/apple_new_arrivals_desktop.jpg" alt="New Arrivals">
        <img id="appleNewArrivals_mobile" src="../assets/images/cart/apple_new_arrivals_mobile.jpg" alt="New Arrivals">
    </div>
</section>
{{>footer}}